//Gibson font
@font-face
  font-family 'Gibson'
  src url('../fonts/gibson-light.woff') format('woff'), url('../fonts/gibson-light.ttf') format('truetype')
  font-weight $font-weight-light
  font-style $font-style-normal

@font-face
  font-family 'Gibson'
  src url('../fonts/gibson-regular.woff') format('woff'), url('../fonts/gibson-regular.ttf') format('truetype')
  font-weight $font-weight-regular
  font-style $font-style-normal

@font-face
  font-family 'Gibson'
  src url('../fonts/gibson-semibold.woff') format('woff'), url('../fonts/gibson-semibold.ttf') format('truetype')
  font-weight $font-weight-semibold
  font-style $font-style-normal

//Montserrat font
@font-face
  font-family 'Montserrat'
  src url('../fonts/montserrat-light.woff') format('woff'), url('../fonts/montserrat-light.ttf') format('truetype')
  font-weight $font-weight-light
  font-style $font-style-normal

@font-face
  font-family 'Montserrat'
  src url('../fonts/montserrat-regular.woff') format('woff'), url('../fonts/montserrat-regular.ttf') format('truetype')
  font-weight $font-weight-regular
  font-style $font-style-normal

@font-face
  font-family 'Montserrat'
  src url('../fonts/montserrat-semibold.woff') format('woff'), url('../fonts/montserrat-semibold.ttf') format('truetype')
  font-weight $font-weight-semibold
  font-style $font-style-normal