@font-face
  font-family "Gibson"
  font-weight $font-weight-light-text
  font-style $font-style-normal
  src url("../fonts/Gibson-Light.woff") format("woff")

@font-face
  font-family "Gibson"
  font-weight $font-weight-light-text
  font-style $font-style-italic
  src url("../fonts/Gibson-LightItalic.woff") format("woff")

@font-face
  font-family "Gibson"
  font-weight $font-weight-regular-text
  font-style $font-style-normal
  src url("../fonts/Gibson-Regular.woff") format("woff")

@font-face
  font-family "Gibson"
  font-weight $font-weight-regular-text
  font-style $font-style-italic
  src url("../fonts/Gibson-RegularItalic.woff") format("woff")

@font-face
  font-family "Gibson"
  font-weight $font-weight-semibold
  font-style $font-style-normal
  src url("../fonts/Gibson-SemiBold.woff") format("woff")

@font-face
  font-family "Gibson"
  font-weight $font-weight-semibold
  font-style $font-style-italic
  src url("../fonts/Gibson-SemiBoldItalic.woff") format("woff")

@font-face
  font-family "Gibson"
  font-weight $font-weight-bold
  font-style $font-style-normal
  src url("../fonts/Gibson-Bold.woff") format("woff")

@font-face
  font-family "Gibson"
  font-weight $font-weight-bold
  font-style $font-style-italic
  src url("../fonts/Gibson-BoldItalic.woff") format("woff")
