defaultFontFamily()
  font-family $default-font-family, Arial, Helvetica, sans-serif

secondaryFontFamily()
  font-family $secondary-font-family, Arial, Helvetica, sans-serif

setFontColor()
  &._light
    color $text-color-light
  &._lighter
    color $text-color-lighter

/**
 * Font family
 */
$default-font-family = 'Gibson'
$secondary-font-family = 'Montserrat'

/**
 * Wrapper size
 */
$wrapper-max-width = 112rem + 3rem
$wrapper-min-width = 32rem

/**
 * Colors
 */
// Basic
$black = #000000;
$cod-gray = #191919;
$tundora = #4a4a4a;
$boulder = #757575;

// Blues
$resolution-blue = #002281;
$deep-koamaru = #153281;
$ship-cove = #7587b9;
$indigo = #406fc0;
$malibu = #81bcff;

//Grays
$mischka = #cbd1dc;
$athens-gray = #eaecf1;
$white = #ffffff;

/**
 * Colors Variables
 */
$default-link-color = $black

$base = $black
$dark = $cod-gray
$darker = $tundora
$light = $white
$lighter = $athens-gray

$primary = $resolution-blue
$primary-deep = $deep-koamaru
$secondary = $malibu
$secondary-deep = $indigo


// text colors
$text-color-base = $base
$text-color-darker = $darker
$text-color-light = $light
$text-color-lighter = $lighter
$text-color-primary = $primary
$text-color-primary-deep = $primary-deep
$text-color-secondary = $secondary
$text-color-secondary-deep = $secondary-deep

// background colors
$bg-color-base = $base
$bg-color-light = $light
$bg-color-lighter = $lighter
$bg-color-primary = $primary
$bg-color-primary-deep = $primary-deep
$bg-color-secondary = $secondary
$bg-color-secondary-deep = $secondary-deep

// border colors
$border-color-base = $base
$border-color-light = $light
$border-color-lighter = $lighter
$border-color-primary = $primary
$border-color-secondary = $secondary
$border-color-secondary-deep = $secondary-deep

// buttons colors
$btn-color-base = $base
$btn-color-light = $light
$btn-color-lighter = $lighter
$btn-color-primary = $primary
$btn-color-secondary = $secondary
$btn-color-secondary-deep = $secondary-deep

/**
 * Broken image style
 */
$broken-image-color = #646464
$broken-image-background-color = #e6e6e6
$broken-image-border = 2px dotted #c8c8c8
$broken-image-border-radius = 5px

/**
 * Screen sizes
 */
$screen-wide-max = 1440px
$screen-tablet-max = 1024px
$screen-tablet-mobile-max = 800px
$screen-mobile-max = 768px
$screen-mobile-600-max = 600px
$screen-mobile-480-max = 480px
$screen-mobile-375-max = 374px
/**
 * Fonts
 */
$font-size-black-desktop = 4.2rem
$font-size-large-desktop = 4.0rem
$font-size-big-desktop = 2.0rem
$font-size-medium-desktop = 1.8rem
$font-size-small-desktop = 1.6rem

/**
 * Line Height
 */
$line-height-large = (40 / 20) // 2
$line-height-regular = (28 / 16) // 1.75
$line-height-default = 1.67 // 1.67
$line-height-medium = (18 / 16) // 1.125
$line-height-small = (40 / 40) // 1

/**
 * Font weights
 */
$font-weight-light = 300
$font-weight-regular = 400
$font-weight-medium = 500
$font-weight-semibold = 600
$font-weight-bold = 700

// text
$font-weight-light-text = $font-weight-light
$font-weight-regular-text = $font-weight-regular
$font-weight-medium-text = $font-weight-medium
$font-weight-semibold-text = $font-weight-semibold
$font-weight-bold-text = $font-weight-bold

/**
 * Font style
 */
$font-style-normal = normal
$font-style-italic = italic

// text
$font-style-normal-text = $font-style-normal
$font-style-italic-text = $font-style-italic

/**
 * Border radius
 */
$border-radius-default = 20px

/**
 * Media queries
 */
media-wide()
  @media screen and (max-width: $screen-wide-max)
    {block}

// @stylint ignore

media-tablet()
  @media screen and (max-width: $screen-tablet-max)
    {block}

// @stylint ignore

media-tablet-mobile()
  @media screen and (max-width: $screen-tablet-mobile-max)
    {block}

// @stylint ignore

media-mobile()
  @media screen and (max-width: $screen-mobile-max)
    {block}

// @stylint ignore

media-mobile-600()
  @media screen and (max-width: $screen-mobile-600-max)
    {block}

// @stylint ignore

media-mobile-480()
  @media screen and (max-width: $screen-mobile-480-max)
    {block}

// @stylint ignore

media-mobile-375()
  @media screen and (max-width: $screen-mobile-375-max)
    {block}

// @stylint ignore