extends ../common/pug/layout

block variables
  - var pageInfo = {title: 'index', description: 'index'}

block content
  body
    .wrapper
      +s-header()
      +s-default({
          title: "uygytgtygytg",
          link: "",
          content: "pr-products"
      })
      +s-footer()
    +scripts()