extends ../common/pug/layout.pug

block variables
  - var PAGEINFO = {title: 'Quality assurance, software development & testing company', description: 'Quality assurance, software development & testing company'}

block content
  body.p-home
    +b.wrapper
      +s-header()
      +e.content
        +s-default({
          className: '_lighter',
          top: {
            title: 'Our services'
          },
          inner: {
            className: '_narrow',
            slot: {
              name: 'b-services'
            }
          }
        })
        +s-default({
          top: {
            title: 'Our projects',
            link: {
              text: 'All projects',
              href: 'work.html'
            }
          },
          inner: {
            slot: {
              name: 'l-projects',
              props: {
                visibleProjects: ['under-armour', 'car-on-fly', 'tripointlab', 'r-hotel']
              }
            }
          }
        })
        +s-default({
          top: {
            title: 'Our products'
          },
          inner: {
            slot: {
              name: 'l-products'
            }
          }
        })
      +s-footer()
    +scripts()
