extends ../common/pug/layout

block variables
  - var pageInfo = {title: 'index', description: 'index'}

block content
  body
    .wrapper
      //- +s-header()
      +s-default({
        title: "Our projects",
        link: {
          text: "All projects",
          href: "work.html"
        },
        slot: "l-projects"
      })
      +s-default({
        title: "Our products",
        slot: "l-products"
      })
      //- +s-footer()
    +scripts()