extends ../common/pug/layout

block variables
  - var pageInfo = {title: 'Highest quality under any conditions', description: 'Highest quality under any conditions'}

block content
  body
    .wrapper
      //- +s-header()
      +s-intro({
        title: 'Highest quality under any conditions',
        overlay: 'works'
      })
      +s-projects()
      +s-default({
        title: 'Partners for many years',
        slot: 'l-partners'
      })
      //- +s-footer()
    +scripts()