extends ../common/pug/layout.pug

block variables
  - var PAGEINFO = {title: 'Highest quality under any conditions', description: 'Highest quality under any conditions'}

block content
  body.p-work
    +b.wrapper
      +s-header()
      +e.content
        +s-intro({
          title: 'Highest quality under any conditions',
          overlay: 'photos/works'
        })
        +s-projects()
        +s-default({
          top: {
            title: 'Partners for many years'
          },
          inner: {
            className: '_narrow',
            slot: {
              name: 'l-partners',
              props: {
                className: '_bordered'
              }
            }
          }
        })
        +s-default({
          top: {
            title: 'Our products'
          },
          inner: {
            slot: {
              name: 'l-products'
            }
          }
        })
      +s-footer()
    +scripts()
