extends ../../common/pug/layout.pug

block variables
  - var PAGEINFO = {title: 'Mobile applications Development', description: 'Mobile applications Development'}

block content
  body.p-mobile-applications-development
    +b.wrapper
      +s-header()
      +e.content
        +s-intro({
          title: 'Mobile applications Development',
          subtitle: 'Make sure your customers take your business with them wherever you go. Our team can turn the app of any complexity into live solution.',
          overlay: 'photos/mobile-applications-development'
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'Mobile Development'
          },
          inner: {
            slot: {
              name: 'b-description',
              props: {
                image: {
                  src: 'photos/mobile-development',
                  alt: 'Mobile Development'
                },
                content: 'Our high skilled mobile app developers handle the entire project lifecycle (from idea to final product) using a large stack of cutting-edge technologies, individual development process for each project and industry best practices applied wisely.'
              }
            }
          }
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'Mobile Applications Development services'
          },
          inner: {
            className: '_narrow',
            slot: {
              name: 'l-ordered',
              props: {
                list: 'mobile-applications'
              }
            }
          }
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'We deliver user-friendly and intuitive mobile apps for:'
          },
          inner: {
            slot: {
              name: 'l-cards',
              props: {
                className: '_wide',
                cards: 'mobile-applications-development'
              }
            }
          }
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'Our toolset'
          },
          inner: {
            slot: {
              name: 'l-tools',
              props: {
                visibleTools: ['android-sdk', 'cordova', 'ios-sdk', 'microsoft-net', 'swift', 'xamarin', 'cocoapods', 'java']
              }
            }
          }
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'View our Work'
          },
          inner: {
            slot: {
              name: 'l-projects',
              props: {
                visibleProjects: ['car-on-fly', 'qorum']
              }
            }
          }
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'Top-level engineering expertise'
          },
          inner: {
            slot: {
              name: 'b-cta',
              props: {
                text: 'Focus on long-term partnership lets us get to the very core of the business and assist our clients to create market-dominant products. Our strategy is based on the care, providing exceptional quality in cost-efficient way. Let us know what you are working on, and we guarantee to transform our excellence aspiration into your business value.',
                actions: {
                  title: 'Get a Quote Today',
                  href: '/contact-us.html',
                  arrow: true
                }
              }
            }
          }
        })
      +s-footer()
    +scripts()
