extends ../../common/pug/layout.pug

block variables
  - var PAGEINFO = {title: 'Security Audit', description: 'Security Audit'}

block content
  body.p-security-audit
    +b.wrapper
      +s-header()
      +e.content
        +s-intro({
          title: 'Security Audit',
          subtitle: 'Make sure there are no vulnerabilities in your software and the data of your users is secure. We will help you with audit and system improvements.',
          overlay: 'photos/security-audit'
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'Security Testing'
          },
          inner: {
            slot: {
              name: 'b-description',
              props: {
                image: {
                  src: 'code-example',
                  alt: 'Security Testing'
                },
                title: 'Make sure your system is secure for end users.',
                content: 'Our OWASP-certified engineers can perform full security audit of the systems or help you to prepare your system for HIPAA-compliance certification.'
              }
            }
          }
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'Ethical Hacking services we perform'
          },
          inner: {
            className: '_narrow',
            slot: {
              name: 'l-ordered',
              props: {
                list: 'ethical-hacking'
              }
            }
          }
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'Approaches'
          },
          inner: {
            slot: {
              name: 'l-cards',
              props: {
                className: '_wide',
                cards: 'security-audit'
              }
            }
          }
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'Process Work'
          },
          inner: {
            data:
            '<svg class="svg svg-process-work" focusable="false" role="img" aria-labelledby="process-work-processwork">' +
            '<title id="process-work-processwork">Process Work</title>' +
            '<use xlink:href="#process-work"></use>' +
            '</svg>'
          }
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'Our toolkit'
          },
          inner: {
            slot: {
              name: 'l-tools',
              props: {
                visibleTools: ['wire-shark', 'john-the-ripper', 'back-track', 'kali', 'metasploit', 'social-engineer', 'acunetix', 'owasp-zap']
              }
            }
          }
        })
        +s-default({
          top: {
            className: '_centered',
            title: 'Top-level engineering expertise'
          },
          inner: {
            slot: {
              name: 'b-cta',
              props: {
                text: 'Focus on long-term partnership lets us get to the very core of the business and assist our clients to create market-dominant products. Our strategy is based on the care, providing exceptional quality in cost-efficient way. Let us know what you are working on, and we guarantee to transform our excellence aspiration into your business value.',
                actions: {
                  title: 'Get a Quote Today',
                  href: '/contact-us.html',
                  arrow: true
                }
              }
            }
          }
        })
      +s-footer()
    +scripts()
