extends ../../common/pug/layout

block variables
  - var pageInfo = {title: 'Testing & QA management', description: 'Testing & QA management'}

block content
  body.p-vr-ar-application-development
    .wrapper
      //- +s-header()
      +s-intro({
        title: 'Testing & QA management',
        subtitle: 'Originating from QA company Qaprosoft is an expert-level QA agent for any of your challenges. We offer high standards for quality inside your project in any way it is comfortable for you. While you build your product, our team works to make it perfect.',
        overlay: 'test-automation'
      })
      +s-default({
        className: '_centered',
        title: 'Our toolset',
        slot: {
          name: 'l-tools',
          props: {
            visibleTools: ['fiddler', 'android-studio', 'xcode', 'test-rails', 'postman', 'soap-ui', 'tizen']
          }
        }
      })
      +s-default({
        className: '_centered',
        title: 'View our Work',
        slot: {
          name: 'l-projects',
          props: {
            visibleProjects: ['under-armour', 'landing-club', 'smule']
          }
        }
      })
      +s-default({
        className: '_centered',
        title: 'Top-level engineering expertise',
        slot: {
          name: 'b-cta',
          props: {
            text: 'Focus on long-term partnership lets us get to the very core of the business and assist our clients to create market-dominant products. Our strategy is based on the care, providing exceptional quality in cost-efficient way. Let us know what you are working on, and we guarantee to transform our excellence aspiration into your business value.',
            actions: {
              title: 'Get a Quote Today',
              href: '/contact-us.html'
            }
          }
        }
      })
      //- +s-footer()
    +scripts()