extends ../../common/pug/layout

block variables
  - var pageInfo = {title: 'Test Automation', description: 'Test Automation'}

block content
  body
    .wrapper
      //- +s-header()
      +s-intro({
        title: 'Test Automation',
        subtitle: 'Optimize your testing costs by Automation. Let programs test programs: get speed, accuracy and platform coverage as high as you imagine.',
        overlay: 'test-automation'
      })
      +s-default({
        className: '_centered',
        title: 'View our Work',
        slot: {
          name: 'l-projects',
          props: {
            visibleProjects: ['under-armour', 'landing-club', 'smule']
          }
        }
      })
      +s-default({
        className: '_centered',
        title: 'Our toolset',
        slot: {
          name: 'l-tools',
          props: {
            visibleTools: ['jenkins', 'java', 'maven', 'se', 'carina', 'testng', 'selenium', 'appium']
          }
        }
      })
      +s-default({
        className: '_centered',
        title: 'Top-level engineering expertise',
        slot: {
          name: 'b-cta',
          props: {
            text: 'Focus on long-term partnership lets us get to the very core of the business and assist our clients to create market-dominant products. Our strategy is based on the care, providing exceptional quality in cost-efficient way. Let us know what you are working on, and we guarantee to transform our excellence aspiration into your business value.',
            actions: {
              title: 'Get a Quote Today',
              href: '/contact-us.html'
            }
          }
        }
      })
      //- +s-footer()
    +scripts()