extends ../../common/pug/layout

block variables
  - var pageInfo = {title: 'VR / AR applications Development', description: 'VR / AR applications Development'}

block content
  body.p-vr-ar-application-development
    .wrapper
      //- +s-header()
      +s-intro({
        title: 'VR / AR applications Development',
        subtitle: 'Imagine your virtual presence at shops, concerts, fashion shows, doctor training, virtual surgery. Our VR / AR team can make it happen.',
        overlay: 'vr-ar-application-development'
      })
      +s-default({
        className: '_centered',
        title: 'VR/AR apps for various industries',
        slot: {
          name: 'l-cards',
          props: {
            cards: 'vr-ar-application-development'
          }
        }
      })
      +s-default({
        className: '_centered',
        title: 'We gained solid experience in the following domains',
        slot: {
          name: 'l-info',
          props: {
            className: '_bordered',
            infos: 'vr-ar-application-development'
          }
        }
      })
      +s-default({
        className: '_centered',
        title: 'Our toolkit',
        slot: {
          name: 'l-tools',
          props: {
            visibleTools: ['unity', 'vuforia', 'arcore', 'microsoft-hololens', 'opencv', 'photon', 'oculus-vr', 'apple-ar-kit']
          }
        }
      })
      +s-default({
        className: '_centered',
        title: 'View our Work',
        slot: {
          name: 'l-projects',
          props: {
            visibleProjects: ['tripointlab']
          }
        }
      })
      +s-default({
        className: '_centered',
        title: 'Top-level engineering expertise',
        slot: {
          name: 'b-cta',
          props: {
            text: 'Focus on long-term partnership lets us get to the very core of the business and assist our clients to create market-dominant products. Our strategy is based on the care, providing exceptional quality in cost-efficient way. Let us know what you are working on, and we guarantee to transform our excellence aspiration into your business value.',
            actions: {
              title: 'Get a Quote Today',
              href: '/contact-us.html'
            }
          }
        }
      })
      //- +s-footer()
    +scripts()