.b-cta
  &__text
    margin 0 auto
    max-width 820px
    color $text-color-darker
    text-align center
    letter-spacing -.2px
    font-size $font-size-big-desktop
    line-height 30px
  &__actions
    margin-top 65px
    text-align center
