mixin b-card(o = {})

  +b.b-card
    +e.FIGURE.content
      +e.icon
        +svg({
          name: o.icon,
          title: o.title,
          className: '_fill-secondary'
        })
      +e.FIGCAPTION.title
        p._darker._centered #{o.title}
