.b-card
  position relative
  padding-top 98.22%
  border 2px solid $border-color-light
  background-color $bg-color-lighter

  &__content
    position absolute
    top 0
    right 0
    bottom 0
    left 0
  &__title
    display -webkit-box /* stylelint-ignore */
    overflow hidden
    padding 0 10px
    max-height 60px
    color $text-color-darker
    text-align center
    font-size $font-size-medium-desktop
    line-height 30px
    -webkit-line-clamp 2 /* stylelint-ignore */
    -webkit-box-orient vertical /* stylelint-ignore */
  &__icon
    display flex
    justify-content center
    align-items center
    height 60%

    .svg
      fill $secondary