mixin b-services(o = {})

  +b.b-services
    +e.row
      +e.col
        +e.item
          +e.H2.title._primary._big._fwlight Test Automation
          +e.H2.subtitle._primary
            +e.subtitle-inner._fwsemibold Reuse code between iOS and Android by
              |
              |
              span._secondary._fwsemibold 70%
              |
              | and deploy open‑source automation frameworks via
              |
              span._secondary._fwsemibold 1‑click install
              +svg({
                name: 'icon-click',
                className: 'b-services__subtitle-icon _fill-secondary'
              })
          +e.P.description We take care of the most complex
            |
            |
            a(href='./services/test-automation.html') test automation
            |  challenges: multi‑platform integration tests, IoT tests with testing hardware development, Xbox / PS4 automation with help of AI. Achieve your test coverage KPI’s for mobile faster with our open‑source solutions: reuse code between iOS and Android by 70% by the means of testing framework
            |
            a(href='https://www.carina-core.io/' rel='noopener') Carina
            | . Feel the pulse of test execution with
            |
            a(href='http://qaprosoft.github.io/zafira/' rel='noopener') Zafira
            |
            | QA Reporting Centre. Deploy top‑used automation infrastructure
            |
            a(href='https://www.qps-infra.io/' rel='noopener') QPS‑infra
            |
            | on your server via free 1‑click install instead of spending 100+ hours for regular setup.
        +e.item
          +e.H2.title._primary._big._fwlight Test Execution
          +e.H2.subtitle._primary
            +e.subtitle-inner._fwsemibold Run
              |
              |
              span._secondary endless
              +svg({
                name: 'infinity',
                className: 'b-services__subtitle-icon _fill-secondary _middle'
              })
              |
              | number of tests in multithreaded mode 24/7
          +e.P.description Get private solution
            |
            |
            a(href='https://mobiletesting.farm/' rel='noopener') MCloud:
            |
            | custom device list with up to 200 devices, advanced test logic and debug. Fully dedicated solution: IPSEC standards specific to your project and no waiting in the queues.
      +e.col
        +e.item
          +e.H2.title._primary._big._fwlight Test Driven Software Development
          +e.H2.subtitle._primary
            +e.subtitle-inner._fwsemibold Test us with fast
              |
              |
              span._secondary._fwsemibold prototype
              +svg({
                name: 'prototype',
                className: 'b-services__subtitle-icon _fill-secondary _middle'
              })
              |
              | or product
              |
              span._secondary._fwsemibold roadmap
              +svg({
                name: 'roadmap',
                className: 'b-services__subtitle-icon _fill-secondary _middle'
              })
              |
              | before making big steps in development
          +e.P.description Get high‑quality product with our top‑armed engineering talent: we build Native iOS/Android and Hybrid (Unity 3d, Xamarin)
            |
            |
            a(href='./services/mobile-applications-development.html') mobile applications
            | ,
            |
            a(href='./services/vr-ar-application-development.html') AR/VR
            |
            | apps for mobile and desktop, high‑performing WEB (frontend and backend),
            |
            a(href='./services/data-science-and-ai-development.html') AI and Data
            |
            | Processing modules. Our R&amp;D team will help you with fast prototypes and product roadmaps.
        +e.item
          +e.H2.title._primary._big._fwlight Quality Assurance
          +e.H2.subtitle._primary
            +e.subtitle-inner._fwsemibold Your product is
              |
              |
              span._secondary._fwsemibold fully compliant
              |
              | with store &amp; security guidelines
            +e.subtitle-image
              +svg({
                name: 'face',
                className: '_fill-secondary'
              })
          +e.P.description Feel confident about your product quality: our
            |
            |
            a(href='./services/testing-and-qa-management.html') QA team’s job
            |
            | is not about just selling you testers’ time and instruments. We confirm that your features work as expected on the target devices, the product is fully compliant with store &amp; security guidelines and formally sign off on your product quality each release. The end goal is faster time to market for your team under Continuous Integration and Delivery process ideally fitted for you SDLC.
