.btn
  display inline-flex
  justify-content center
  align-items center
  padding 0 21px
  min-height 3.9rem
  outline none
  border-width 2px
  border-style solid
  border-color $border-color-primary
  background-color $bg-color-light
  color $btn-color-primary
  font-size $font-size-smaller-desktop
  font-family inherit

  ._ie &
    height 3.9rem
  .desktop &
    tr(.3s)
    &:not([disabled])
      &._hover,
      &:hover
        background-color $bg-color-primary
        color $btn-color-lighter
  &._wide
    width 100%
  &._arrow
    padding 0 21px 0 25px

    &:after
      width 7px
      height 7px
      border-right 2px solid currentColor
      border-bottom 2px solid currentColor
      content ''
      transform rotate(-45deg)

      trb()

      margin-left 19px
