//- style guide
include ../../../components/blocks/_styleguide/b-style-colors/b-style-colors
include ../../../components/blocks/_styleguide/b-color/b-color
include ../../../components/blocks/_styleguide/b-style-typo/b-style-typo
include ../../../components/blocks/_styleguide/b-style-buttons/b-style-buttons
include ../../../components/blocks/_styleguide/b-style-forms/b-style-forms
include ../../../components/blocks/_styleguide/b-style-checkbox/b-style-checkbox

//- content
include ../../../components/blocks/b-toggle/b-toggle
include ../../../components/blocks/b-link/b-link