//- style guide
include ../../../components/lists/_styleguide/l-style-guide/l-style-guide
include ../../../components/lists/_styleguide/l-color-list/l-color-list
include ../../../components/lists/_styleguide/l-color-groups/l-color-groups
include ../../../components/lists/_styleguide/l-buttons-group/l-buttons-group
include ../../../components/lists/l-products/l-products
include ../../../components/lists/l-projects/l-projects
include ../../../components/lists/l-partners/l-partners
include ../../../components/lists/l-tools/l-tools