//- style guide
include ../../../components/sections/_styleguide/s-style-guide/s-style-guide

//- content
include ../../../components/sections/s-header/s-header
include ../../../components/sections/s-register-full/s-register-full
include ../../../components/sections/s-footer/s-footer
