mixin b-style-checkbox(o = {})

  +b.b-style-checkbox
    +e.row
      +e.col
        +b-toggle({
          className: '_vertical',
          type: 'checkbox',
          checked: false,
          name: 'style-checkbox',
          text: 'Normal'
        })
        +b-toggle({
          className: '_vertical _hover',
          type: 'checkbox',
          checked: false,
          name: 'style-checkbox',
          text: 'Hover'
        })
        +b-toggle({
          className: '_vertical',
          type: 'checkbox',
          checked: true,
          name: 'style-checkbox',
          text: 'Active'
        })
        +b-toggle({
          className: '_vertical _disabled',
          type: 'checkbox',
          checked: false,
          disabled: true,
          name: 'style-checkbox',
          text: 'Disabled'
        })
      +e.col
        +b-toggle({
          className: '_vertical',
          type: 'radio',
          checked: false,
          name: 'style-checkbox',
          text: 'Normal'
        })
        +b-toggle({
          className: '_vertical _hover',
          type: 'radio',
          checked: false,
          name: 'style-checkbox',
          text: 'Hover'
        })
        +b-toggle({
          className: '_vertical',
          type: 'radio',
          checked: true,
          name: 'style-checkbox',
          text: 'Active'
        })
        +b-toggle({
          className: '_vertical _disabled',
          type: 'radio',
          checked: false,
          disabled: true,
          name: 'style-checkbox',
          text: 'Disabled'
        })