mixin s-projects(o = {})

  +b.SECTION.s-projects
    .container
      +e.content
        +e.text We work with emerging companies and leader enterprises in numerous areas: fintech, education, sharing economy, gaming, fitness, medical, eCommerce and management software. Originating from the software QA company we have quality treated as the #1 fundamental. Resulting solution we develop always fits the highest standards: your value is maximised by the right balance between technical R&D and quality best practices.
        +e.list
          +l-projects({
            visibleProjects: 8
          })