.l-ordered
  display flex
  flex-wrap wrap
  margin-right -25px

  &__item
    position relative
    padding-right 25px
    padding-left 60px

    fw(50%)
    &:not(:last-child)
      margin-bottom 40px
    &:before
      position absolute
      top 0
      left 0
      color $text-color-secondary
      content attr(data-index)
      font-weight $font-weight-semibold-text
      font-size $font-size-large-desktop
      line-height $line-height-xsmall
  &__description
    margin-top 13px
    font-size 1.3rem
    line-height 1.85

+media-mobile()
  .l-ordered
    margin-right 0

    &__item
      fw(100%)

      padding-right 0

      for i in (1 .. 20)
        &[data-index=\'{i}\']
          order i
