mixin s-tests-executed(o = {})

  +b.SECTION.s-tests-executed
    .container
      +e.inner
        +e.P.counter._secondary._fwbold.js-tests-counter._blink._hide 2,530,039,337
        +e.H4.title._darker._centered Tests executed
