mixin l-tools(o = {})

  +b.UL.l-tools(role="list")
    each tool, key in lTools.tools
      if o.visibleTools.includes(key)
        +e.tool
          +e.logo(src=`./images/tools/${tool.logo}.jpeg`, alt=`${tool.alt}`)