.l-partners
  display flex
  flex-wrap wrap
  justify-content center

  &._bordered
    border-top 2px solid $border-color-lighter
    border-left 2px solid $border-color-lighter
  &__partner
    fw(25%)

+media-mobile()
  .l-partners
    &__partner
      fw(50%)
