@import 'settings/variables'
// @import 'settings/optimize'
@import 'settings/mixins'
// @import 'settings/fonts'
// @import 'settings/default'
// @import 'settings/animations'
// @import 'etc/sprite-img'
// @import 'etc/sprite-svg'
@import '../../components/lists/l-vacancies/l-vacancies'
