/*
a => link
b => block
btn => button
f => form
i => etc graphic
l => list
m => menu
modal => modal window
pr => block preview
s => section
sl => slider
svg => svg graphic
t => table
*/
@import 'settings/variables'
@import 'settings/optimize'
@import 'settings/mixins'
@import 'settings/fonts'
@import 'settings/default'
@import 'etc/sprite-img'
@import 'etc/sprite-svg'
@import '../../components/**/*'
