mixin f-register-full(o = {})

    +b.FORM.f-register-full.f-default.js-register-full(@submit.prevent="onSubmit", v-cloak)
        //- full name
        +e.row.f-default__row
            label.f-default__label(:class="vClass('name')")
                .f-default__label-text Fullt navn *
                .f-default__error(v-if="!$v.fields.name.required") Obligatorisk felt
                .f-default__error(v-if="!$v.fields.name.alphaAndSpace") You must use only letters
                .f-default__error(v-else-if="!$v.fields.name.minLength") Name must have at least {{$v.fields.name.$params.minLength.min}} signs.
                .f-default__error(v-if="!$v.fields.name.maxLength") Name must have max {{$v.fields.name.$params.maxLength.max}} signs.
                .f-default__label-wrapper
                    input.f-default__field(v-model.trim.lazy="$v.fields.name.$model", type="text", placeholder="Write name here")

        //- email
        +e.row.f-default__row
            label.f-default__label(:class="vClass('email')")
                .f-default__label-text E-post *
                .f-default__error(v-if="!$v.fields.email.required") Obligatorisk felt
                .f-default__error(v-if="!$v.fields.email.email") Write correct email
                .f-default__label-wrapper
                    input.f-default__field(v-model.trim.lazy="$v.fields.email.$model", type="email", placeholder="Write email here")

        //- nick
        +e.row.f-default__row
            label.f-default__label(:class="vClass('nick')")
                .f-default__label-text Kallenavn
                .f-default__error(v-if="!$v.fields.nick.minLength") Kallenavn must have at least {{$v.fields.nick.$params.minLength.min}} signs.
                .f-default__error(v-if="!$v.fields.nick.maxLength") Kallenavn must have max {{$v.fields.nick.$params.maxLength.max}} signs.
                .f-default__label-wrapper
                    input.f-default__field(v-model.trim.lazy="$v.fields.nick.$model", type="text", placeholder="Onsket kallenavn pa topplisten")

        //- school
        +e.row.f-default__row
            label.f-default__label(:class="vClass('school')")
                .f-default__label-text Skole *
                .f-default__error(v-if="!$v.fields.school.required") Obligatorisk felt
                .f-default__label-wrapper
                    multiselect(
                    v-model.trim.lazy="$v.fields.school.$model",
                    :options="schools",
                    :searchable="false",
                    :allow-empty="false",
                    :close-on-select="true",
                    placeholder="Velg skole")

        //- step
        +e.row.f-default__row
            label.f-default__label(:class="vClass('step')")
                .f-default__label-text Klassetrinn *
                .f-default__error(v-if="!$v.fields.step.required") Obligatorisk felt
                .f-default__label-wrapper
                    input.f-default__field(v-model.trim.lazy="$v.fields.step.$model", type="text", placeholder="Write Trinn here")

        //- password
        +e.row.f-default__row
            label.f-default__label(:class="vClass('password')")
                .f-default__label-text Passord *
                .f-default__error(v-if="!$v.fields.password.required") Obligatorisk felt
                .f-default__error(v-if="!$v.fields.password.minLength") Passord must have at least {{$v.fields.password.$params.minLength.min}} signs.
                .f-default__label-wrapper
                    input.f-default__field(v-model.trim.lazy="$v.fields.password.$model", type="password", placeholder="Write Passord here", autocomplete="off")

        //- repeat password
        +e.row.f-default__row
            label.f-default__label(:class="vClass('rPassword')")
                .f-default__label-text Repeat Passord *
                .f-default__error(v-if="!$v.fields.rPassword.sameAsPassword") Passwords must be identical.
                .f-default__label-wrapper
                    input.f-default__field(v-model.trim.lazy="$v.fields.rPassword.$model", type="password", placeholder="Repeat Passord here", autocomplete="off")

        //- news subscription
        +e.row.f-default__row
            .b-toggle
                label.b-toggle__wrapper
                    input.b-toggle__input(v-model="fields.subscription", type="checkbox", value="subscription")
                    span.b-toggle__element
                    h4.b-toggle__text Ja, dere kan emaile meg om AF-kollektivet og relaterte saker

        +e.H4.terms._centered.f-default__terms By clicking Registrer og fortsett i agree to the #{' '}
            +b-link({
                href: "./terms.html",
                text: 'Terms of Service'
            })

        //- submit button
        +e.actions
            button.btn._wide(:disabled="$v.$invalid || isPending")
                span.btn__text {{isPending ? "Registering..." : "Registrer og fortsett"}}

        //- info
        .f-default__info
            h4._centered.f-default__info-text Already have an account?
            .f-default__info-link
                +b-link({
                    href: "./login.html",
                    text: 'Logg inn'
                })
