mixin s-header(o = {})

  +b.HEADER.s-header(class=`${o.className || ''}`)
    .container
      +e.inner
        +e.logo
          +e.logo-link(href='/')
            +svg({
              name: 'logo-qaprosoft',
              title: 'Quality assurance'
            })
        +e.menu
          +m-primary()
        +e.actions
          +btn({
            title: 'Contact Us',
            href: '/contact-us.html',
            arrow: true,
            className: 's-header__actions-item'
          })
