.s-header
  padding 33px 25px
  background-color $bg-color-light

  &__inner
    display flex
    // justify-content space-between
    align-items center
  &__menu
    margin 0 50px 0 auto
  &__logo
    margin-top 7px

    &-link
      display inline-block
