.s-header
  &__inner
    display flex

  &__logo
    display flex
    flex-grow 1
    align-items center
    padding-left 50px
    min-height 5.8rem
    border-bottom 1px solid $border-color-light

    .svg
      display block

  &__actions
    display flex

    &-btn
      min-height 5.8rem

      ._ie &
        height 5.8rem

    &-btn
      min-width 188px
      border-top 0
      font-size $font-size-large-desktop

  &__actions-mobile
    display none

    &-btn
      min-height 5.8rem

      ._ie &
        height 5.8rem

+media-tablet()
  .s-header
    &__actions
      &-btn
        min-width 130px
        font-size $font-size-medium-desktop

+media-mobile()
  .s-header
    &__logo
      justify-content center
      padding-left 0
      min-height 6.5rem

      .svg
        max-width 245px

    &__actions
      &-btn
        min-height 6.5rem

        ._ie &
          height 6.5rem

        &._about,
        &._register
          display none

        &._login
          min-width 65px

          .btn
            &__text
              display none

            &__icon
              margin-right 0

    &__actions-mobile
      display flex

      &-btn
        border-top 0

+media-mobile-375()
  .s-header
    &__logo
      padding-left 20px

      .svg
        max-width 200px