mixin s-default(o = {})

  +b.SECTION.s-default(class=`${o.className || ''}`)
    .container
      +e.content

        +e.top
          if o.title
            +e.title #{o.title}
          if o.link
            +e.link
              +a-arrow(o.link)

        +e.inner
          if o.slot
            +#{o.slot}(o.slotSettings || {})