.s-default
  padding 110px 0 155px

  &._narrow
    .s-default
      &__wrapper
        margin 0 auto
        max-width 880px
  &._lighter
    background-color $bg-color-lighter
  &__top
    display flex
    justify-content space-between
    margin-bottom 53px

    &._centered
      justify-content center
  &__inner
    &._narrow
      margin 0 auto
      max-width 1000px
  &__description
    margin 0 auto 100px
    max-width 570px
  &__link
    display flex
    padding-top 5px
  &__data
    margin-bottom 48px

    p + p
      margin-top 10px
    svg
      display block
      margin 0 auto
