.s-default
  padding 40px 0
  &._lighter
    background-color $bg-color-lighter
  &._centered
    .s-default
      &__top
        justify-content center
  &._narrow
    .s-default
      &__inner
        margin 0 auto
        max-width 820px
  &__top
    display flex
    justify-content space-between
    margin-bottom 2vw
  &__title
    color $text-color-primary
    font-weight $font-weight-semibold-text
    font-size $font-size-big-desktop
    line-height 2
  &__description
    margin 130px auto 100px
    max-width 570px
    font-size 22px
    line-height 36px
  &__link
    display flex
