.l-info
  display flex
  flex-wrap wrap
  justify-content center
  &._bordered
    border-top 2px solid $border-color-lighter
    border-left 2px solid $border-color-lighter
  &__info
    fw(33.33333%)

+media-tablet()
  .l-info
    &__info
      fw(50%)