.svg-arrow-link-menu
  width 1em
  height 1em

.svg-arrow-small-menu
  width 0.5em
  height 0.86em

.svg-face
  width 8.8em
  height 9.9em

.svg-icon-click
  width 3em
  height 4.3em

.svg-infinity
  width 4.2em
  height 1.7em

.svg-logo-carina
  width 11.6em
  height 13.6em

.svg-logo-mcloud
  width 4.6em
  height 4.6em

.svg-logo-qaprosoft
  width 13.7em
  height 2.9em

.svg-logo-qpsinfra
  width 15.2em
  height 15.2em

.svg-logo-zafira
  width 13.6em
  height 13.6em

.svg-prototype
  width 4em
  height 3.5em

.svg-roadmap
  width 3.8em
  height 3.2em

.svg-ad-hoc
  width 7em
  height 6.4em

.svg-agriculture
  width 7em
  height 6.4em

.svg-approach
  width 7em
  height 6.4em

.svg-architecture
  width 7em
  height 6.4em

.svg-arts
  width 7em
  height 6.4em

.svg-consumer-products
  width 7em
  height 6.4em

.svg-e-commerce
  width 7em
  height 6.4em

.svg-education
  width 7em
  height 6.4em

.svg-entertainment-music
  width 7em
  height 6.4em

.svg-finance-service
  width 7em
  height 6.4em

.svg-games
  width 7em
  height 6.4em

.svg-healthcare
  width 7em
  height 6.4em

.svg-life-sciences
  width 7em
  height 6.4em

.svg-logistics
  width 7em
  height 6.4em

.svg-manual
  width 7em
  height 6.4em

.svg-manufacturing
  width 7em
  height 6.4em

.svg-marketing
  width 7em
  height 6.4em

.svg-mcloud-perform
  width 7em
  height 6.4em

.svg-mcloud-platforms
  width 7em
  height 6.4em

.svg-mcloud-results
  width 7em
  height 6.4em

.svg-media
  width 7em
  height 6.4em

.svg-museums
  width 7em
  height 6.4em

.svg-online-learning
  width 7em
  height 6.4em

.svg-scheduled
  width 7em
  height 6.4em

.svg-traveling
  width 7em
  height 6.4em

.svg-athos
  width 5.3em
  height 6.6em

.svg-att
  width 9.702em
  height 3.237em

.svg-burger-king
  width 6.4em
  height 6.555em

.svg-fitbod
  width 12em
  height 3.776em

.svg-lendingclub
  width 9.601em
  height 6.4em

.svg-modius
  width 10em
  height 3.801em

.svg-nerdwallet
  width 4.579em
  height 5.8em

.svg-qorum
  width 9.602em
  height 5.461em

.svg-rosneft
  width 9.016em
  height 5.972em

.svg-smule
  width 10.198em
  height 4.342em

.svg-stanford
  width 10.823em
  height 2.226em

.svg-starbucks
  width 5.999em
  height 5.976em

.svg-telegraphhill
  width 8.8em
  height 6.6em

.svg-tripointlab
  width 11.6em
  height 4em

.svg-under-armor
  width 7.406em
  height 4.444em

.svg-zong
  width 10.4em
  height 2.6em

