.svg-ad-hoc
  width 7rem
  height 6.4rem

.svg-agriculture
  width 7rem
  height 6.4rem

.svg-approach
  width 7rem
  height 6.4rem

.svg-architecture
  width 7rem
  height 6.4rem

.svg-arrow-link-menu
  width 1rem
  height 1rem

.svg-arrow-small-menu
  width 0.5rem
  height 0.86rem

.svg-arts
  width 7rem
  height 6.4rem

.svg-consumer-products
  width 7rem
  height 6.4rem

.svg-e-commerce
  width 7rem
  height 6.4rem

.svg-education
  width 7rem
  height 6.4rem

.svg-entertainment-music
  width 7rem
  height 6.4rem

.svg-face
  width 8.8rem
  height 9.9rem

.svg-finance-service
  width 7rem
  height 6.4rem

.svg-games
  width 7rem
  height 6.4rem

.svg-healthcare
  width 7rem
  height 6.4rem

.svg-icon-click
  width 3rem
  height 4.3rem

.svg-infinity
  width 4.2rem
  height 1.7rem

.svg-life-sciences
  width 7rem
  height 6.4rem

.svg-logistics
  width 7rem
  height 6.4rem

.svg-logo-carina
  width 11.6rem
  height 13.6rem

.svg-logo-mcloud
  width 4.6rem
  height 4.6rem

.svg-logo-qaprosoft
  width 13.7rem
  height 2.9rem

.svg-logo-qpsinfra
  width 15.2rem
  height 15.2rem

.svg-logo-zafira
  width 13.6rem
  height 13.6rem

.svg-manual
  width 7rem
  height 6.4rem

.svg-manufacturing
  width 7rem
  height 6.4rem

.svg-marketing
  width 7rem
  height 6.4rem

.svg-mcloud-perform
  width 7rem
  height 6.4rem

.svg-mcloud-platforms
  width 7rem
  height 6.4rem

.svg-mcloud-results
  width 7rem
  height 6.4rem

.svg-media
  width 7rem
  height 6.4rem

.svg-museums
  width 7rem
  height 6.4rem

.svg-online-learning
  width 7rem
  height 6.4rem

.svg-prototype
  width 4rem
  height 3.5rem

.svg-roadmap
  width 3.8rem
  height 3.2rem

.svg-scheduled
  width 7rem
  height 6.4rem

.svg-traveling
  width 7rem
  height 6.4rem

.svg-athos
  width 5.3rem
  height 6.6rem

.svg-att
  width 9.702rem
  height 3.237rem

.svg-burger-king
  width 6.4rem
  height 6.555rem

.svg-fitbod
  width 12rem
  height 3.776rem

.svg-lendingclub
  width 9.601rem
  height 6.4rem

.svg-modius
  width 10rem
  height 3.801rem

.svg-nerdwallet
  width 4.579rem
  height 5.8rem

.svg-qorum
  width 9.602rem
  height 5.461rem

.svg-rosneft
  width 9.016rem
  height 5.972rem

.svg-smule
  width 10.198rem
  height 4.342rem

.svg-stanford
  width 10.823rem
  height 2.226rem

.svg-starbucks
  width 5.999rem
  height 5.976rem

.svg-telegraphhill
  width 8.8rem
  height 6.6rem

.svg-tripointlab
  width 11.6rem
  height 4rem

.svg-under-armor
  width 7.406rem
  height 4.444rem

.svg-zong
  width 10.4rem
  height 2.6rem

