.svg-ad-hoc
  width 7rem
  height 6.4rem

.svg-agriculture
  width 7rem
  height 6.4rem

.svg-approach
  width 7rem
  height 6.4rem

.svg-architecture
  width 7rem
  height 6.4rem

.svg-arrow-link-menu
  width 1rem
  height 1rem

.svg-arrow-small-menu
  width 0.5rem
  height 0.86rem

.svg-arts
  width 7rem
  height 6.4rem

.svg-consumer-products
  width 7rem
  height 6.4rem

.svg-e-commerce
  width 7rem
  height 6.4rem

.svg-education
  width 7rem
  height 6.4rem

.svg-entertainment-music
  width 7rem
  height 6.4rem

.svg-face
  width 8.8rem
  height 9.9rem

.svg-finance-service
  width 7rem
  height 6.4rem

.svg-games
  width 7rem
  height 6.4rem

.svg-healthcare
  width 7rem
  height 6.4rem

.svg-icon-click
  width 3rem
  height 4.3rem

.svg-infinity
  width 4.2rem
  height 1.7rem

.svg-life-sciences
  width 7rem
  height 6.4rem

.svg-logistics
  width 7rem
  height 6.4rem

.svg-logo-carina
  width 11.6rem
  height 13.6rem

.svg-logo-mcloud
  width 4.6rem
  height 4.6rem

.svg-logo-qaprosoft
  width 13.7rem
  height 2.9rem

.svg-logo-qpsinfra
  width 15.2rem
  height 15.2rem

.svg-logo-zafira
  width 13.6rem
  height 13.6rem

.svg-manual
  width 7rem
  height 6.4rem

.svg-manufacturing
  width 7rem
  height 6.4rem

.svg-marketing
  width 7rem
  height 6.4rem

.svg-mcloud-perform
  width 7rem
  height 6.4rem

.svg-mcloud-platforms
  width 7rem
  height 6.4rem

.svg-mcloud-results
  width 7rem
  height 6.4rem

.svg-media
  width 7rem
  height 6.4rem

.svg-museums
  width 7rem
  height 6.4rem

.svg-online-learning
  width 7rem
  height 6.4rem

.svg-prototype
  width 4rem
  height 3.5rem

.svg-roadmap
  width 3.8rem
  height 3.2rem

.svg-scheduled
  width 7rem
  height 6.4rem

.svg-traveling
  width 7rem
  height 6.4rem

