.b-partner
  position relative
  padding-top 57%
  border 1px solid $border-color-lighter
  color $text-color-primary-deep

  &__icon
    hv()

    fill currentColor
+media-mobile()
  .b-partner
    min-height 160px // ToDo check this