.b-partner
  position relative
  display flex
  justify-content center
  align-items center
  padding-top 57%
  width 100%
  border 1px solid $border-color-lighter
  color $text-color-primary-deep
  &__icon
    v()

    fill currentColor
+media-mobile()
  .b-partner
    min-height 160px // ToDo check this