.l-projects
  display flex
  flex-wrap wrap
  justify-content center
  margin-right -10px

  &__project
    fw(50%)

    margin-bottom 10px
    padding-right 10px

+media-mobile()
  .l-projects
    margin-right 0

    &__project
      fw(100%)

      padding-right 0