.s-register-full
  padding 80px 0
  min-height 'calc(100vh - %s)' % $s-header-height
  background-color $bg-color-dark

  &__content
    margin 0 auto
    max-width 400px

  &__title
    margin-bottom 30px

  &__subtitle
    margin-bottom 70px

+media-mobile()
  .s-register-full
    padding 75px 0 63px
    min-height 'calc(100vh - %s)' % $s-header-height_mobile

    &__title
      margin-bottom 28px

    &__subtitle
      margin 0 auto 74px
      max-width 300px

    &__form
      padding-top 35px
      border-top 1px solid $border-color-light
