mixin s-register-full(o = {})

    +b.SECTION.s-register-full
        .container
            +e.content
                +e.H1.title._centered Fullfør din profil
                +e.H3.subtitle._centered For å kunne registrere poengsummen og fremdriften din, trenger vi noen flere opplysninger om deg.
                +e.form
                    +f-register-full()